#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
main {
  text-align: center;
}

.container {
  text-align: center;
}

/*Barre de navigation*/
nav span {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: maroon;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #865496;
  text-align: right;
  padding: 1%;
}

.nav-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 2%;
}

#shopping {
  color: white;
  font-size: 1.5em;
}
.product-item {
    display: inline-block;
    width: 25%;
    border: 2px solid #865496;
    border-radius: 10px;
    margin: 10px 1%;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    
}

.productImage {
  width: 150px;
  height: 150px;
}

.add-basket {
  cursor: pointer;
  padding: 3px;
}

.fa-plus-circle:before {
    content: "\f055";
    font-family: "FontAwesome";
    color: #865496;
    font-size: 40px;
}

.fa-arrow-left:before {
  font-family: "FontAwesome";
  color: #865496;
  font-size: 40px;
}

.fa-arrow-right:before {
  font-family: "FontAwesome";
  color: #865496;
  font-size: 40px;
}

.direction {
  margin-top: 50px;
  margin-bottom: 50px;
}

.direction span {
  margin: 0 3%;
}

.basket-item {
  list-style: none;
  width: 86%;
  margin: auto;
  margin-bottom: 30px;

}

.basket-item img {
  display: inline-block;
  width: 30%;
}

.basket-item .info {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-top: 20px;
  margin-left: 3%;
  text-align: center;
}

.basket-item .info h3 {
  text-decoration: underline;
}

.basket-item .info .deleteItem {
  width: 20%;
  background-color: #865496;
  color: white;
  padding: 10px 2%;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
}

.pn-buttons {
  margin: 50px;
}
@media only screen and (max-width: 900px) {
  .nav-title {
    width: 20%;
    margin-right: 7%;
  }

  .product-item {
    width: 80%;
  }


  nav span {
    right: 5%;
  }

  .basket-item img {
    display: block;
    width: 80%;
    margin: auto;
  }
  .basket-item .info {
    width: 80%;
  }

  .basket-item .info .deleteItem {
    width: 40%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*COUCOU*/ 